
.breadcrumb-wrapper {
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 767px) {
      .breadcrumb-wrapper {
        justify-content: flex-start; } }
    .breadcrumb-wrapper .breadcrumb li {
      font-size: 14px;
      color: #4a6cf7; }
      .breadcrumb-wrapper .breadcrumb li a {
        color: #5d657b; }
        .breadcrumb-wrapper .breadcrumb li a:hover {
          color: #4a6cf7; }

/* ========== cards css =========== */
/* card-style-1 */
.card-style-1 {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 25px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .card-style-1:hover {
      -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
    .card-style-1 .card-meta {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      padding: 0 30px; }
      @media (max-width: 767px) {
        .card-style-1 .card-meta {
          padding: 0 20px; } }
      .card-style-1 .card-meta .image {
        max-width: 40px;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px; }
        .card-style-1 .card-meta .image img {
          width: 100%; }
      .card-style-1 .card-meta .text p {
        color: #262d3f; }
        .card-style-1 .card-meta .text p a {
          color: inherit; }
          .card-style-1 .card-meta .text p a:hover {
            color: #4a6cf7; }
    .card-style-1 .card-image {
      border-radius: 10px;
      margin-bottom: 25px;
      overflow: hidden; }
      .card-style-1 .card-image a {
        display: block; }
      .card-style-1 .card-image img {
        width: 100%; }
    .card-style-1 .card-content {
      padding: 0px 30px; }
      @media (max-width: 767px) {
        .card-style-1 .card-content {
          padding: 0px 20px; } }
      .card-style-1 .card-content h4 a {
        color: inherit;
        margin-bottom: 15px;
        display: block; }
        .card-style-1 .card-content h4 a:hover {
          color: #4a6cf7; }
  
  /* card-style-2 */
  .card-style-2 {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 20px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .card-style-2:hover {
      -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
    .card-style-2 .card-image {
      border-radius: 4px;
      margin-bottom: 30px;
      overflow: hidden; }
      .card-style-2 .card-image a {
        display: block; }
      .card-style-2 .card-image img {
        width: 100%; }
    .card-style-2 .card-content {
      padding: 0px 10px; }
      @media (max-width: 767px) {
        .card-style-2 .card-content {
          padding: 0px; } }
      .card-style-2 .card-content h4 a {
        color: inherit;
        margin-bottom: 15px;
        display: block; }
        .card-style-2 .card-content h4 a:hover {
          color: #4a6cf7; }
  
  /* card-style-3 */
  .card-style-3 {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 25px 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    .card-style-3:hover {
      -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); }
    .card-style-3 .card-content h4 a {
      color: inherit;
      margin-bottom: 15px;
      display: block; }
      .card-style-3 .card-content h4 a:hover {
        color: #4a6cf7; }
    .card-style-3 .card-content a.read-more {
      font-weight: 500;
      color: #262d3f;
      margin-top: 20px; }
      .card-style-3 .card-content a.read-more:hover {
        color: #4a6cf7;
        letter-spacing: 2px; }

/* ======= icon-card ======== */
.icon-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 30px 20px;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 10px 20px rgba(200, 208, 216, 0.3);
    border-radius: 10px; }
    .icon-card.icon-card-3 {
      display: block;
      padding: 0px; }
      .icon-card.icon-card-3 .card-content {
        display: flex;
        padding: 20px;
        padding-bottom: 0; }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      .icon-card h6 {
        font-size: 15px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      .icon-card h3 {
        font-size: 20px; } }
    .icon-card.icon-card-2 {
      display: block; }
      .icon-card.icon-card-2 .progress {
        height: 7px; }
        .icon-card.icon-card-2 .progress .progress-bar {
          border-radius: 4px; }
    .icon-card .icon {
      max-width: 46px;
      width: 100%;
      height: 46px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-right: 20px;
      background: rgba(74, 108, 247, 0.1);
      color: #4a6cf7;
      font-weight: 700; }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        .icon-card .icon {
          margin-right: 10px; } }
      .icon-card .icon.purple {
        background: rgba(155, 81, 224, 0.1);
        color: #9b51e0; }
      .icon-card .icon.success {
        background: rgba(33, 150, 83, 0.1);
        color: #219653; }
      .icon-card .icon.primary {
        background: rgba(74, 108, 247, 0.1);
        color: #4a6cf7; }
      .icon-card .icon.orange {
        background: rgba(242, 153, 74, 0.1);
        color: #f2994a; }
      .icon-card .icon.opacity-100.purple {
        background: #9b51e0;
        color: #fff; }
      .icon-card .icon.opacity-100.success {
        background: #219653;
        color: #fff; }
      .icon-card .icon.opacity-100.primary {
        background: #4a6cf7;
        color: #fff; }
      .icon-card .icon.opacity-100.orange {
        background: #f2994a;
        color: #fff; }
      .icon-card .icon.opacity-100.deep-blue {
        background: #345d9d;
        color: #fff; }
      
/* =========== settings css ============== */
.settings-card-1 .profile-info .profile-image {
    max-width: 75px;
    width: 100%;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1; }
    .settings-card-1 .profile-info .profile-image img {
      width: 100%;
      border-radius: 50%; }
    .settings-card-1 .profile-info .profile-image .update-image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background: #efefef;
      border: 2px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      z-index: 99; }
      .settings-card-1 .profile-info .profile-image .update-image:hover {
        opacity: 0.9; }
      .settings-card-1 .profile-info .profile-image .update-image input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 99; }
      .settings-card-1 .profile-info .profile-image .update-image label {
        cursor: pointer;
        z-index: 99; }

/* =========== form elements css ========== */
/* ===== input style ===== */
.input-style-1 {
    position: relative;
    margin-bottom: 30px; }
    .input-style-1 label {
      font-size: 14px;
      font-weight: 500;
      color: #262d3f;
      display: block;
      margin-bottom: 10px; }
    .input-style-1 input,
    .input-style-1 textarea {
      width: 100%;
      background: rgba(239, 239, 239, 0.5);
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      padding: 16px;
      color: #5d657b;
      resize: none;
      transition: all 0.3s; }
      .input-style-1 input:focus,
      .input-style-1 textarea:focus {
        border-color: #4a6cf7;
        background: #fff; }
      .input-style-1 input[type="date"], .input-style-1 input[type="time"],
      .input-style-1 textarea[type="date"],
      .input-style-1 textarea[type="time"] {
        background: transparent; }
  
  .input-style-2 {
    position: relative;
    margin-bottom: 30px;
    z-index: 1; }
    .input-style-2 label {
      font-size: 14px;
      font-weight: 500;
      color: #262d3f;
      display: block;
      margin-bottom: 10px; }
    .input-style-2 input,
    .input-style-2 textarea {
      width: 100%;
      background: rgba(239, 239, 239, 0.5);
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      padding: 16px;
      color: #5d657b;
      resize: none;
      transition: all 0.3s; }
      .input-style-2 input:focus,
      .input-style-2 textarea:focus {
        border-color: #4a6cf7;
        background: #fff; }
      .input-style-2 input[type="date"], .input-style-2 input[type="time"],
      .input-style-2 textarea[type="date"],
      .input-style-2 textarea[type="time"] {
        background: transparent; }
    .input-style-2 input[type="date"]::-webkit-inner-spin-button,
    .input-style-2 input[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0; }
    .input-style-2 input[type="date"] ~ .icon {
      z-index: -1; }
    .input-style-2 .icon {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 17px; }
  
  .input-style-3 {
    position: relative;
    margin-bottom: 30px; }
    .input-style-3 label {
      font-size: 14px;
      font-weight: 500;
      color: #262d3f;
      display: block;
      margin-bottom: 10px; }
    .input-style-3 input,
    .input-style-3 textarea {
      width: 100%;
      background: rgba(239, 239, 239, 0.5);
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      padding: 16px;
      padding-left: 45px;
      color: #5d657b;
      resize: none;
      transition: all 0.3s; }
      .input-style-3 input:focus,
      .input-style-3 textarea:focus {
        border-color: #4a6cf7;
        background: #fff; }
    .input-style-3 .icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      padding: 16px; }
      .main-btn {
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 15px 45px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 5;
        transition: all 0.4s ease-in-out;
        border: 1px solid transparent;
        overflow: hidden; }
        .main-btn:hover {
          color: inherit; }
          .primary-btn {
            background: #4a6cf7;
            color: #fff; }
            .primary-btn:hover {
              color: #fff; }
          
          .primary-btn-outline {
            background: transparent;
            color: #4a6cf7;
            border-color: #4a6cf7; }
            .primary-btn-outline:hover {
              color: #fff;
              background: #4a6cf7; }          